#mivd-container {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
}

#stop-mivd-btn {
    /* 使用 float 的方式来让span元素在一行的最后面 */
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    font-size: 1.5em;
    text-align: end;

    cursor: pointer;
}

#mivd-container>video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85vw;
}

.mivd-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50% !important;
    height: auto !important;

    object-fit: cover
        /*  !important */
    ;

    opacity: 0.5;
}