div#modify-memo-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1%;

    width: 30%;
    height: 30%;

    background-color: white;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.13em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
}

textarea#modify-memo-textarea {
    padding: 1em;

    width: 100%;
    height: 70%;
    resize: none;

    border-width: 0.13%;
    border-radius: 1em;

    font-size: 1.3em;
}

div#modify-memo-tools {
    margin-top: 2%;
    height: 28%;
}

button#submit-modify-memo {
    margin-left: 85%;
    width: 15%;
    min-width: 4em;
}